<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<!--link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"-->
<link rel="stylesheet" href="hero-detail.css" />
</head>

<body class="content">

<div class="row">
    <div class="title-black">BUSCA KITSU</div>
    <div class="title-light">TESTE FRONT-END</div>
    <div class="candidate-name">VANESSA PANOSSO</div>
</div>
<div class="line"></div>

<div class="container">
    <div class="card">
      <h3 class="title">Personagem</h3>
      <div id="detail">
      </div>
    </div>
  


<script src="hero-detail.js"></script>
<script>
    let heroTable = new HeroDetail();
</script>
</body>

</html>